#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 50px auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 597px;
  height: 297px;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  .swiper {
    width: 360px;
    height: 180px;
  }

  .swiper-slide img {
    width: 360px;
    height: 180px;
  }
}
