:root {
  --BGCOLOR: #e4e2dd;
  --MAINCOLOR: #db4a2b;
  --SECONDCOLOR: #232323;
}

.sidebar {
  list-style-type: none;
}

.sidebar-links {
  color: var(--MAINCOLOR);
  text-decoration: none;
}

.sidebar-links:hover {
  color: var(--BGCOLOR);
}

li {
  margin-top: 20px;
  font-size: 18px;
}

li:first-child {
  color: var(--BGCOLOR);
  font-size: 20px;
}
